{% extends 'layout.html' %} 

{% block body %}


<section class="section-schema">
   <div class="row my-3">
        <h1 class="table-name"> Data Schemas </h1>
   </div>
    <div class="row justify-content-end position-relative">
        <a href="{% url 'create_schema' %}" class="btn btn-success btn-lg active btn-lg position-relative" role="button" aria-pressed="true">Create new schema</a>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Modified</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for schema in schemas %}
            <tr>
                <th scope="row"> <b> {{ iterator }} </b></th>
                <td><a href="{% url 'create_data_set' schema.id %}">{{schema.name}}</a></td>
                <td>{{schema.modified}}</td>
                <td>
                    <a href="#" class="btn btn-link">Edit schema</a>
                    <a id="delete-button" href="###" class="btn btn-link" role="button" aria-pressed="true">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
  {% endblock %}