#login {
    display: flex;
    align-items: center;
    justify-content: center;
    border: gray;
}

#central-container {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 150px;
    width: 26%;
}

#error-message {
    align-content: center;
    padding: 5% 0;
}

#submit-button {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 25%;
}

.form-element {
    padding: 5px 0;
}

.username, .password, .email {
    border-color: lightgray;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    font-size: large;
}
h2, h4 {
    text-align: center;
}

