{% extends 'layout.html' %} 

{% block body %}


<section class="section-schema">
   <div class="row">
        <h1 class="table-name"> Data Schemas </h1>
   </div>
    <div class="row align-right position-relative">
        <a href="{% url 'create_schema' %}" class="btn btn-success btn-lg active btn-lg" role="button" aria-pressed="true">Create new schema</a>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Modified</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"> <b> 1 </b></th>
                <td><a href="#">Mark</a></td>
                <td>Otto</td>
                <td>
                    <a href="#" class="btn btn-link">Link</a>
                    <a id="delete-button" href="###" class="btn btn-link" role="button" aria-pressed="true">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
  {% endblock %}